/* build time:Wed Jan 26 2022 17:38:38 GMT+0100 (Central European Standard Time)*/
*{margin:0;padding:0;box-sizing:border-box}.default{width:800px;height:600px;overflow:hidden}.map,body,html{width:100%;height:100%;overflow:hidden}
/* rebuild by neat */